{% extends 'base.html' %} <!-- there's a base.html that has all the blocks so we don't need to write those <head> here -->

{% block styles -%} <!-- CSS -->
<link rel="stylesheet" href="{% static 'styles/app.scss' %}">
{% endblock styles -%}

{% block scripts -%} <!-- Javascript-->
{% script 'app' %}
{% endblock scripts -%}

{% extends '_layouts/base.html' %}

{% block headline %}Headline{% endblock headline%}
{% block byline %}byline goes here{% endblock byline%}
{% block pubdate %}
  <time datetime="2022-03-05" pubdate>Mar. 5, 2022</time>
{% endblock pubdate%}

{% block content %}
{% for obj in harvard_park_homicides %} <!-- for every object in the list, do the following thing, which is print the objects. -->
  {{ obj.first_name }} {{ obj.last_name }}<br/> <!-- the space is for the space between first name and last name -->
{% endfor %}
{% endblock content %}

